
html{
    background-color :black;
}
img{
    width: 100%;
    
    border: 5px solid gray;
}
h1{
    color: aliceblue;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
p{
    color: aliceblue;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
div{
    text-align: center;
    
}